:root {
  --weather-color-warm: #660c04;
  --weather-color-neutral: #ddd6f3;
  --weather-color-cold: #5cd7ec;
  --weather-background-warm: linear-gradient(-45deg, #ffecd2 0%, #fcb69f 100%);
  --weather-background-neutral: linear-gradient(
    -20deg,
    #ddd6f3 0%,
    #faaca8 100%,
    #faaca8 100%
  );
  --weather-background-cold: linear-gradient(45deg, #a8edea 0%, #d6e4fe 100%);
}

/* main */

[role="weather-forecast"] *,
[role="weather-forecast"] ::after,
[role="weather-forecast"] ::before {
  box-sizing: border-box;
}

[role="weather-forecast"] {
  width: 100%;
}

.weather {
  width: 100%;
  min-height: 300px;
  background: var(--weather-color-cold);
  box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  overflow: hidden;
  padding: 1rem;
}

.weather--cold {
  background-color: #a8edea;
  background-image: var(--weather-background-cold);
}
.weather--warm {
  background-color: #fad0c4;
  background-image: var(--weather-background-warm);
}
.weather--neutral {
  background-color: #fbed96;
  background-image: var(--weather-background-neutral);
}

/* Header */

.weather__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 1rem;
}
.weather__header .weather__title {
  text-transform: uppercase;
  line-height: 1.2;
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
  text-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  margin-bottom: 0.3rem;
}
.weather__status {
  color: var(--weather-color-warm);
  font-size: 1rem;
  text-align: center;
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .weather__header {
    flex-direction: row;
  }
  .weather__text {
    font-size: 1rem;
    text-align: right;
  }
}

/* Searchbar */

.weather__searchbar {
  text-align: center;
  position: relative;
  border-radius: 10px;
  font-size: 1rem;
  margin-bottom: 0.2rem;
  outline: 0;
  width: 100%;
}
.weather__search {
  border-radius: 25px;
  border: 0;
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.19);
  font-size: 1rem;
  color: #000;
  margin-bottom: 1rem;
  outline: 0;
  padding: 1rem 2rem;
  width: 100%;
}

.weather ::placeholder,
.weather ::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  font-weight: 600;
}

@media screen and (min-width: 544px) {
  .weather__search {
    max-width: 50%;
  }
}

/* Current Content */

.weather__current-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.weather__current-content__text {
  color: var(--weather-color-warm);
  margin-bottom: 1rem;
  display: block;
  opacity: 0.5;
}

.weather__current-content__data {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.weather__current-content__city {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.1;
  color: #fff;
  text-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  display: block;
}
.weather__current-content__country {
  margin-top: 0.5rem;
  font-size: 1rem;
  line-height: 1.1;
  font-weight: 700;
  color: var(--weather-color-warm);
  display: block;
}
.weather__current-content__temperature {
  align-self: center;
  margin: 0.5rem 0;
  font-size: 3rem;
  line-height: 1.1;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  display: block;
  padding-left: 1rem;
}

@media screen and (min-width: 544px) {
  .weather__current-content__data {
    flex-direction: row;
    justify-content: center;
  }
  .weather__current-content__city {
    text-align: right;
  }
  .weather__current-content__country {
    text-align: left;
  }
  .weather__current-content__temperature {
    margin: 0;
    font-size: 3.5rem;
    padding-left: 2rem;
  }
}

/* Forecast Content */

.weather__forecast-content {
  text-align: center;
  font-size: 1rem;
  margin: 0 auto;
  width: 100%;
}

.weather__forecast-content table {
  width: 100%;
  border-collapse: separate;
  border: 0;
  border-spacing: 0 10px;
  color: var(--weather-color-warm);
}
.weather__forecast-content thead tr {
  color: #fff;
  background-image: none;
  display: none;
}

.weather__forecast-content td,
.weather__forecast-content th {
  padding: 0.5rem 0.5rem;
}
.weather__forecast-content td {
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.9)
  );
}

.weather__forecast-content tr td:first-child {
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-bottomleft: 15px;
  -webkit-border-top-left-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.weather__forecast-content tr td:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

@media screen and (min-width: 970px) {
  .weather__forecast-content {
    width: 50%;
    margin: 0 auto;
  }
}

/* loader */

.loader {
  position: relative;
  margin: 0 auto;
  border: 5px solid rgba(255, 255, 255, 0.5);
  border-top: 5px solid var(--weather-color-cold);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
